/* 框，紫色，选中文件 */
.theme-dark:not(.css-settings-manager) body:not(.is-grabbing) .tree-item-self.is-active:hover, 
.theme-dark:not(.css-settings-manager) .tree-item-self.is-active, 
.theme-light:not(.css-settings-manager) body:not(.is-grabbing) .tree-item-self.is-active:hover, 
.theme-light:not(.css-settings-manager) .tree-item-self.is-active, 
.ctp-full-palette body:not(.is-grabbing) .tree-item-self.is-active:hover, 
.ctp-full-palette .tree-item-self.is-active {
	/* color: rgb(205, 214, 244);  */
	/*ctp-text*/
	color: rgb(246, 248, 253);
	/* background-color: rgba(205, 214, 244, 0.548) !important; */
	background-color: inherit;
	outline: solid 2px rgb(184, 112, 252); /*ctp-mauve*/
}
/* 悬停，灰色 */
.theme-dark:not(.css-settings-manager) :not(.is-grabbing) .nav-file-title:hover,
.theme-dark:not(.css-settings-manager) :not(.is-grabbing) .nav-folder-title:hover,
.theme-dark:not(.css-settings-manager) .tree-item-self.is-clickable:hover,
.theme-light:not(.css-settings-manager) :not(.is-grabbing) .nav-file-title:hover,
.theme-light:not(.css-settings-manager) :not(.is-grabbing) .nav-folder-title:hover,
.theme-light:not(.css-settings-manager) .tree-item-self.is-clickable:hover,
.ctp-full-palette :not(.is-grabbing) .nav-file-title:hover,
.ctp-full-palette :not(.is-grabbing) .nav-folder-title:hover,
.ctp-full-palette .tree-item-self.is-clickable:hover {
	/* color: rgb(205, 214, 244);  */
	/*ctp-text*/
	color: #CBA6F7;
	/* background-color: inherit !important; 411*/
	background-color: rgba(205, 214, 244, 0.411) !important;
	/* outline: solid 1px rgb(187, 139, 247); */
	/* 205, 214, 244, 0.548 */

}
